<div id="<%= dom_id team %>">
  <p>
    <strong>Iso code:</strong>
    <%= team.iso_code %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= team.name %>
  </p>

  <p>
    <strong>Flag:</strong>
    <span class="fi fi-<%= team.iso_alpha2.downcase %>"></span> <span class="fi fi-<%= team.iso_alpha2.downcase %>"></span>
  </p>

  <p>
    <strong>National team:</strong>
    <%= team.national_team %>
  </p>

  <p>
    <strong>Iso alpha2:</strong>
    <%= team.iso_alpha2 %>
  </p>

  <p>
    <strong>Iso alpha3:</strong>
    <%= team.iso_alpha3 %>
  </p>

</div>
