<%= turbo_frame_tag quote do %>
  <div class="mb-6 bg-secondary">
    <%= link_to quote.name_one, quote_path(quote), data: { turbo_frame: "_top" } %>
    <%= link_to quote.name_two, quote_path(quote), data: { turbo_frame: "_top" } %>

    <div class="quote__actions">
      <%= button_to "Delete",
                    quote_path(quote),
                    method: :delete,
                    form: { data: { turbo_frame: "_top" } },
                    class: "btn btn-primary" %>
      <%= link_to "Edit",
                  edit_quote_path(quote),
                  class: "btn btn-secondary" %>
    </div>
  </div>
<% end %>
