<div id="<%= dom_id competing_user %>">
  <p>
    <strong>User:</strong>
    <%= competing_user.user_id %>
  </p>

  <p>
    <strong>Competition:</strong>
    <%= competing_user.competition_id %>
  </p>

  <p>
    <strong>Competing team:</strong>
    <%= competing_user.competing_team_id %>
  </p>

  <p>
    <strong>Score:</strong>
    <%= competing_user.score %>
  </p>

</div>
