<div id="<%= dom_id competition %>">
  <p>
    <strong>Name:</strong>
    <%= competition.name %>
  </p>

  <p>
    <strong>Competition structure:</strong>
    <%= competition.competition_structure_id %>
  </p>

  <p>
    <strong>National teams:</strong>
    <%= competition.national_teams %>
  </p>

  <p>
    <strong>Teams group:</strong>
    <%= competition.teams_group %>
  </p>

  <p>
    <strong>Rounds:</strong>
    <%= competition.rounds %>
  </p>

  <p>
    <strong>Competition groups: </strong>
    <ul>
      <% competition.groups.each do |group| %>
          <li><p>
            Group <%= group.name %>:
            <% group.competing_teams.each do |cteam| %>
              <%= cteam.id %> <%= cteam.team.name %> ( <%= cteam.competing_team_score.points %> ),
            <% end %>
          </p></li>
      <% end %>
    </ul>
  </p>

</div>
