<p style="color: green"><%= notice %></p>

<h1>Competitions</h1>

<div id="competitions">
  <% @competitions.each do |competition| %>
    <%= render competition %>
    <p>
      <%= link_to "Show this competition", competition %>
    </p>
  <% end %>
</div>

  <p>
    <strong>Matches </strong>
    <ul>
      <% @matches.each do |match| %>
          <li>
            <p>group: <%= match.competing_team_home.group.name %></p>
            <p>location: <%= match.stadium.name %>, <%= match.stadium.location.name %>, <%= match.datetime %></p>
            <p>match <%= match.name %>: <%= match.competing_team_home.team.name %> vs <%= match.competing_team_away.team.name %></p>
          </li>
      <% end %>
    </ul>
  </p>

<%= link_to "New competition", new_competition_path %>
