<p style="color: green"><%= notice %></p>

<h1>Matches</h1>

<% if current_user %>
  <p>Hello<%= current_user.email %></p>
  <%= link_to "Sign out", destroy_user_session_path, 'data-turbo-method': :delete %>
<% else %>
  <p>You are not signed in</p>
  <%= link_to "Sign up!", new_user_registration_path %>
  <%= link_to "login", new_user_session_path %>
<% end %>


<div id="matches">
  <p>
    <strong>Matches </strong>
    <ul>
      <% @matches.each do |match| %>
          <li>
            <p>round: <%= match.round.number %>
            <p>group: <%= match.competing_team_home.group.name %></p>
            <p>location: <%= match.stadium.name %>, <%= match.stadium.location.name %>, <%= match.datetime %></p>
            <p>match <%= match.name %>: <%= match.competing_team_home.team.name %> vs <%= match.competing_team_away.team.name %></p>
          </li>
      <% end %>
    </ul>
  </p>
</div>

<%= link_to "New competition", new_competition_path %>
